.iconBtn {
  border: 0;
  width: 34px;
  height: 34px;
  border-radius: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.18);
  color: inherit;

  &:hover {
    background: rgba(0, 0, 0, 0.28);
  }
}
