.skeleton {
  border-radius: 10px;
  height: 14px;
  background: rgba(255, 255, 255, 0.1);
  animation: pulse 1.2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
